<div class="jumbotron">
    <h1>InTC Singularity</h1>
    <p class="lead">Add your machine to jenkins server</p>
</div>

<div class="row">
    <h2 class="col-md-4">Additional Information</h2>
    <div class="col-md-4">
        <p>
            Configuring Windows Slave node
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://ustr-wiki-1.na.uis.unisys.com/singularity/index.php/Windows_Node_Configuration">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>Configuring Linux Slave node</p>
        <p><a class="btn btn-default" target="_blank" href="https://ustr-wiki-1.na.uis.unisys.com/singularity/index.php/Linux_Node_Configuration">Learn more &raquo;</a></p>
    </div>
</div>

<hr />


<div class="panel panel-warning">
    <div class="panel-heading">Important notice</div>
    <div class="panel-body">
        <p>
            1. Install the latest Java 7 or Java 8 JDK before proceding further.
        </p>
        <p>
            2. Download and unzip the latest jssecacerts file from
            <a href="3rdparty:com.unisys.singularity:jssecerts" target="_blank"> this link</a> into the Java lib/security dir,
            typically at $JAVA_HOME/jre/lib/security to enable the SSL certificates for the Jenkins server
        </p>
    </div>
</div>

   
<div class="col-sm-12 text-center">
    <button id="showFormDiv" class="btn btn-primary btn-lg">
        Add Slave
    </button>
</div>

<div id="showFormDiv" hidden>
    @Html.Partial("_AddSlave")
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        //$("div#showFormDiv").hide();
        $("button#showFormDiv").click(showform);
    });

    showform = function (e) {
        $(this).hide();
        $("div#showFormDiv").show();
    }

</script>
